* text=auto
*.rs text eol=lf
*.py text eol=lf
*.pyi text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.sh text eol=lf
justfile text eol=lf
LICENSE-* text eol=lf
vendor/** linguist-vendored
